
<!-- <h1>Woof!</h1>

<main>
    
 {{!-- <div class="container">
    <div class="row">
      <div class="col s6">
        {{#each dog_owners}}
          {{#unless this.present}}
            <div>
              <form action="/dog_owners/{{this.id}}?_method=PUT" method="POST">
                <button type="submit" class='driversAvailable'> {{this.dog_name}}</button>
              </form>
            </div>
          {{/unless}}
        {{/each}}
      </div>

      <div class="col s6">
        {{#each dog_owners}}
          {{#if this.present}}
            <div class='dogCheckedIn'>
              <div>
                {{this.dog_name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div> --}}



 {{!-- <div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Move The Way Your Pet Wants</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Get Where Your Pet is Headed</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div> --}}


</main>